<template src="./form.html">

</template>
<script>
export default {
    data() {
        return {
            user: {
                name: '',
                role_id: null
            },
            errors : '',
            options: [],
        }
    },
    watch: {
      user:{
          handler: function(val) {
                this.errors = '';
          },
          deep: true
      }
    },
    mounted() {
        this.getRoles();
    },
    methods: {
        async getRoles() {
            let self = this;
           await axios.get('/admin/roles').then(res => {
               self.options = res.data;
           });
        },
        createUser() {
            let self = this;
            axios.post('/admin/user',this.user).then(res =>  {
                self.$router.push({ path: '/' })
            }).catch(error => {
                console.log(error.response.status);
                if(error.response.status == 422) {
                    console.log(error)
                    self.errors = error.response.data.errors;
                }
            });
        }
    }
}
</script>
