<template src="./form.html">

</template>
<script>
export default {
    data() {
        return {
            user: {
                name: '',
                role_id: null
            },
            user_id: this.$router.currentRoute.params.id,
            errors : '',
            options: []
        }
    },
    watch: {
        user:{
            handler: function(val) {
                this.errors = '';
            },
            deep: true
        }
    },
    methods: {
        async getRoles() {
            let self = this;
            await axios.get('/admin/roles').then(res => {
                self.options = res.data;
            });
        },
        getUser(id) {
            let self = this;
            axios.get('/admin/user/'+id).then(res =>  {
                self.user = res.data;
            });
        },
        createUser() {
            let self = this;
            axios.patch('/admin/user/'+self.user_id, self.user).then(res =>  {
                self.$bvToast.toast('User has been successfully updated', {
                    title: 'Success',
                    variant: 'success',
                    solid: true
                });
                self.$router.push({ path: '/' })
            }).catch(error => {
                console.log(error.response.status);
                if(error.response.status == 422) {
                    console.log(error)
                    self.errors = error.response.data.errors;
                }
            });
        }
    },
    mounted() {
        this.getRoles();
        this.getUser(this.$router.currentRoute.params.id);
    }
}
</script>
