<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">Create
                <span class="d-block text-muted pt-2 font-size-sm">Create New User</span></h3>
        </div>
        <div class="card-toolbar">
            <!--begin::Button-->
            <router-link :to="{path: '/'}" class="btn btn-primary font-weight-bolder mr-2"><span class="fa fa-fast-backward"></span> Back</router-link>
            <router-link :to="{path: '/create-user'}" class="btn btn-primary font-weight-bolder"><span class="fa fa-fast-backward"></span> Create New</router-link>
            <!--end::Button-->
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-danger mb-5 p-5" role="alert" v-if="errors">
            <h4 class="alert-heading">Validation Errors!</h4>
            <div class="border-bottom border-white opacity-20 mb-5"></div>
            <ul>
                <li v-for="error in errors"> {{ error[0] }}</li>
            </ul>
        </div>
        <form @submit.prevent="createUser">
            <div class="card-body">
                <div class="form-group">
                    <label>Role</label>
                    <b-form-select v-model="user.role_id" :options="options">
                        <b-form-select-option :value="null">Please select a role</b-form-select-option>
                    </b-form-select>
                </div>
                <div class="form-group">
                    <label>Email address<span class="text-danger">*</span></label>
                    <b-form-input v-model="user.email" type="email" placeholder="Enter your email"></b-form-input>
                    <span class="form-text text-muted">We'll never share your email with anyone else.</span>
                </div>
                <div class="form-group">
                    <label>Name<span class="text-danger">*</span></label>
                    <b-form-input v-model="user.name" placeholder="Enter your name"></b-form-input>
                </div>
                <div class="form-group">
                    <label>Password<span class="text-danger">*</span></label>
                    <b-form-input v-model="user.password" type="password" placeholder="Enter your password"></b-form-input>
                </div>
                <div class="form-group">
                    <label>Confirm Password<span class="text-danger">*</span></label>
                    <b-form-input v-model="user.password_confirmation" type="password" placeholder="Enter your password"></b-form-input>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button type="reset" class="btn btn-secondary">Cancel</button>
            </div>
        </form>
    </div>
</div>
