<template>
    <div class="card card-custom">
        <div class="card-header flex-wrap border-0 pt-6 pb-0">
            <div class="card-title">
                <h3 class="card-label">Users
                    <span class="d-block text-muted pt-2 font-size-sm">User List</span></h3>
            </div>
            <div class="card-toolbar">
                <!--begin::Button-->
                <router-link :to="{path: 'create-user'}" class="btn btn-primary font-weight-bolder"><span class="fa fa-fast-backward"></span> Create New</router-link>
                <!--end::Button-->
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-4">
                    <b-form-input
                        id="filter-input"
                        v-model="filter"
                        type="search"
                        placeholder="Type to Search"
                    ></b-form-input>
                </div>
            </div>
            <b-table :filter="filter" striped hover :items="items" :busy.sync="isBusy" :fields="fields" :per-page="perPage" :current-page="currentPage" id="user">
                <template #cell(action)="data">
                    <router-link :to="{name:'user-edit', params:{'id':data.item.id}}" class="btn btn-primary">Edit</router-link>
                    <button class="btn btn-danger" @click="deleteUser(data.item.id)">Delete</button>
                </template>
                <template #cell(role)="data">
                    <button ref="btnChangeRole" class="btn btn-primary" @click="changeRole(data.item)">{{ data.item.role ? data.item.role.title : ''}}</button>
                </template>
            </b-table>
            <b-pagination
                v-model="currentPage"
                :total-rows="rows"
                :per-page="perPage"
                aria-controls="user"
            ></b-pagination>
        </div>
        <b-modal ref="changeRoleModal" id="change-role" size="sm" title="Change Role" @ok="handleOk">
            <form ref="form" @submit.stop.prevent="handleChangeRole">
                <div class="form-group">
                    <label>Role</label>
                    <b-form-select v-model="role_id" :options="roles">
                        <b-form-select-option :value="null">Please select a role</b-form-select-option>
                    </b-form-select>
                </div>
            </form>
        </b-modal>

    </div>
</template>
<script>
import create from "./create";
export default {
    components:{create},
    data() {
        return {
            currentPage: 1,
            perPage: 10,
            rows:0,
            isBusy: false,
            filter:null,
            filterOn: [],
            fields: [
                'id',
                'name',
                'email',
                {
                    key:'role',
                    label: 'User Role'
                },
                'action'
            ],
            items:[],
            roles:[],
            role_id:null,
            user_id: null
        }
    },
    methods: {
        changeRole(user){
            this.role_id = user.role_id;
            this.user_id = user.id;
            this.$root.$emit('bv::show::modal', 'change-role', '#btnChangeRole');
        },
        handleChangeRole() {
            let self = this;
            axios.patch(`/admin/user/${this.user_id}/role`, {role_id:this.role_id}).then(res => {
                self.getUserList();
                this.$refs['changeRoleModal'].hide()
                self.$bvToast.toast('Role has been successfully updated', {
                    title: 'Success',
                    variant: 'success',
                    solid: true
                })
            }).catch(error => {
               alert(error.response);
            });
        },
        handleOk(bvModalEvt) {
            bvModalEvt.preventDefault()
            this.handleChangeRole();
        },
        async getRoles() {
            let self = this;
            await axios.get('/admin/roles').then(res => {
                self.roles = res.data;
            });
        },
        async getUserList (ctx) {
            this.isBusy = true
            try {
                const response = await axios.get('/admin/user')
                this.rows = response.data.length
                this.items = response.data
                this.isBusy = false
                return response.data
            } catch (error) {
                this.isBusy = false
                return []
            }
        },
        deleteUser(id) {
            let self = this;
            this.$bvModal.msgBoxConfirm('Please confirm that you want to delete.', {
                title: 'Please Confirm',
                size: 'sm',
                buttonSize: 'sm',
                okVariant: 'danger',
                okTitle: 'YES',
                cancelTitle: 'NO',
                footerClass: 'p-2',
                hideHeaderClose: false,
                centered: true
            })
            .then(value => {
                if(value) {
                    axios.delete('/admin/user/'+id).then(res=> {
                        this.getUserList();
                        self.$bvToast.toast('User has been successfully deleted', {
                            title: 'Success',
                            variant: 'success',
                            solid: true
                        })
                    });
                }
            })
            .catch(err => {
                // An error occurred
            })
        },
        onFiltered(filteredItems) {
            // Trigger pagination to update the number of buttons/pages due to filtering
            this.rows = filteredItems.length
            this.currentPage = 1
        }
    },
    mounted() {
        this.getRoles();
        this.getUserList();
    }
}
</script>
